body{
    background:linear-gradient(#0A0E3F,#48205A);
    
}
.cadre{
    padding:10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    
    
    max-width: 500px;
}
.gauche{
    border-radius: 15px;
    margin-left: 90px;
}
.doite{
    border-radius: 15px;
}
.flex{
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
}
.groupe{
    margin-top: 70px;
}
.texte{
    font-size: large;
}
h3{
    font-size: 16pt;
}


