body{
    min-height: 100vh;
    background:linear-gradient(#0A0E3F,#48205A);
}
.image{
    border-radius: 1000px;
}
.rond{
    height: 20%;
}
.rond{
    width: 240px;
    height: 240px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
}
h3{
    text-align: center;
}
.texte{
    text-align: center;
}
.groupe1{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.groupe2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}