body{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin: 0px;
    /*background:linear-gradient(#0A0E3F,#48205A);*/
    /*background:linear-gradient(#1d1b3d calc(50vh - 275px),#49225c calc(50vh + 275px));*/
    background-repeat: no-repeat;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #0A0E3F;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(214, 212, 212);
    opacity: 60%;
    border-radius: 10px;
}
/*Header*/
h1{
    font-family:'Pacifico', cursive;
}
header{
    font-size: 16pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    background-color: #0A0E3F;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.logo{
    font-family:'Pacifico', cursive;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items:center;
}
.imgLogo{
    margin-top: 15px;
    padding-right: 7px;
    max-height: 50px;
}
.menu{
    display: flex;
    gap: 42px;
}
a{
    text-decoration: none;
    color: white;
}
.secondaire{
    color: #FFFFFF;
    opacity: 60%;
}
.secondaire:hover {
    color: white;
    opacity: 100%;
}
/*Contenu body*/
h2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 20pt;
    background: #291D69;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    width:300px;
    margin: auto;
    margin-top: 100px;
}


h3{
    font-size: 15pt;
}
.jaune{
    background: #dfcb18;
}
.rose{
    background: #FF3162;
}
.vert{
    background: #6EBF9A;
}

/*Footer*/
footer{
    background-color: #0A0E3F;
    padding:30px;
    padding-top: 10px;
}
.partenaire{
    display: flex;
    justify-content: center;
}
.logoPartenaire{
    max-height: 50px;
}
.logoPartenaire1{
    max-height:40px ;
    margin-left: 60px;
    margin-top: 10px;
}
.liens{
    margin-top: 15px;
    font-size: 15pt;
    display: flex;
    justify-content: space-around;
}
.footerLien:hover{
    text-decoration: underline;
}


